table,td{

    border: 2px solid;
}
html{
    background-color: #fffb66 ;
}
body{
    width: 800px;
    padding: 20px;
    margin-right: auto;
    background-color: yellow;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

div{
    margin: 50px 0px 50px 0px;
}

table{
    margin: 30px auto 30px auto;
}