table,td{
    font-family: 'arial';
    border: 2px solid;
}
html{
    font-family: 'sans-serif';
    background: #F9FF3E;
    font-size: medium;
}
body{
    font-family: 'sans-serif';
    width: 800px;
    padding: 20px;
    margin-right: auto;
    background-color: #F8FF18;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

div{
    margin: 15px 10px 15px 0px;
}

table{
    margin: 30px auto 30px auto;
}

.button {
    background-color: floralwhite;
    border: black;
        border-top-color: black;
        border-top-style: none;
        border-top-width: 1;
        border-right-color: black;
        border-right-style: none;
        border-right-width: 1;
        border-bottom-color: black;
        border-bottom-style: none;
        border-bottom-width: 1;
        border-left-color: black;
        border-left-style: none;
        border-left-width: 1;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;

    color: black;
    padding: 10px 25px 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 15px;
    font-size: 16px;
}